<a name="portfolio" id="portfolio"></a>
<div class="portfolio-section">

    <div class="container">
    	<div class="row">
            <div class="col-lg-12 text-center">
                <div class="title-font">
                    <h1>Portfolio</h1>
                </div>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
        	
        	<div class="col-lg-4  col-sm-6">
                <a href="http://www.around-u.org/?locale=en" target="_blank">
                    <%= image_tag "around-u_index.png", class: "img-responsive img-thumbnail" %>
                </a>
            </div>

            <div class="col-lg-8 col-sm-6">
                
                <div class="clearfix"></div>

                <div class="row title">
                	<div class="col-xs-6 col-sm-8">
                		<h3 class="text-left"><a href="http://www.around-u.org/?locale=en" target="_blank">around-U</a>&nbsp;&nbsp;&nbsp;<a href="https://github.com/iamcooc/sample_app" target="_blank"><i class="fa fa-github"></i></a></h3>
                	</div>
                	<div class="col-xs-6 col-sm-4">
                        <a href="http://www.around-u.org/?locale=en" target="_blank">
                		  <%= image_tag "around-u_logo.jpg" %>
                        </a>
                	</div>
                	
                </div>
                
                
                
                
                <p class="lead">
                This web application is providing a platform for landlords to list their properties and give tenants a place to find their new apartments. <br>

                The website provides third part sign-up/log-in mechanism for Facebook and Weibo account.<br>

                By giving zipcode, city name, or detect user's location to search properties.
                Based on the map, users can find the properties in a specific area.<br>

                For property's detail page, there is a street view alongside the map. The Map not only points out where is the property, but also gives a function that user can estimate travel time.  <br>
                If a tenant is interested in a property, he/she can contact the owner using the message system of our website.
                 </p>

                <ul>
                	<li>Javascript</li>
                	<li>AJAX</li>
                	<li>Bootstrap</li>
                	<li>CSS</li>
                	<li>Majoy Ruby Gems:
                		<ul>
                			<li>Devise</li>
                			<li>Omniauth</li>
                			<li>Paperclip</li>
                			<li>Geocoder</li>
                			<li>Mailboxer</li>
                		</ul>

                	</li>
                	<li>PostgreSQL</li>
                </ul>
            </div>
            
        </div>

        <hr>

        <div class="row">
        	
        	<div class="col-lg-4  col-sm-6">
                <a href="http://nytaiwancenter.us/?locale=en" target="_blank">
                    <%= image_tag "taiwan-center_index.png", class: "img-responsive img-thumbnail" %>
                </a>
            </div>

            <div class="col-lg-8 col-sm-6">
                
                <div class="clearfix"></div>

                <div class="row title">
                	<div class="col-xs-6 col-sm-8">
                		<h3 class="text-left"><a href="http://nytaiwancenter.us/?locale=en" target="_blank">Taiwan-Center</a></h3>
                	</div>
                	<div class="col-xs-6 col-sm-4">
                        <a href="http://nytaiwancenter.us/?locale=en" target="_blank">
                		  <%= image_tag "taiwan-center_logo.jpg" %>
                        </a>
                	</div>
                	
                </div>

                
                <p class="lead">Taiwan Center is the community center of Taiwanese in New York. It offers a place for exhibition and performance. Is also hosts different kinds of conferences of cultural, arts and recreational programs for their members. <br>
                
                Manager can upload photos of activities, post articles about the upcoming programs and upload their publications to the website.<br>

                Reservation system allows users to apply rooms for their events online. Manager will get a notice and can approve or reject the application. User will receive the confirmation email after the decision. The booking events will be listed on the calendar.



                </p>

                <ul>
                	<li>Javascript</li>
                    <li>AJAX</li>
                	<li>Bootstrap</li>
                	<li>CSS</li>
                	<li>Majoy Ruby Gems:
                		<ul>
                			<li>Ckeditor</li>
                			<li>Fullcalendar</li>
                			<li>Paperclip</li>
                			<li>Acts-as-taggable-on</li>
                		</ul>

                	</li>
                	<li>PostgreSQL</li>
                </ul>

            </div>
            
        </div>

        <hr>
        
        <div class="row">
        	
        	<div class="col-lg-4  col-sm-6">
                <a href="http://totoro.com.tw/" target="_blank">
                    <%= image_tag "totoro_index.png", class: "img-responsive img-thumbnail" %>
                </a>    
            </div>

            <div class="col-lg-8 col-sm-6">
                
                <div class="clearfix"></div>
                <div class="row title">
                	<div class="col-xs-6 col-sm-8">
                		<h3 class="text-left"><a href="http://totoro.com.tw/" target="_blank">TOTORO Preschool</a>&nbsp;&nbsp;&nbsp;<a href="https://github.com/iamcooc/totoro" target="_blank"><i class="fa fa-github"></i></a></h3>
                	</div>
                	<div class="col-xs-6 col-sm-4">
                        <a href="http://totoro.com.tw/" target="_blank">
                		  <%= image_tag "to_mark.gif" %>
                        </a>
                	</div>
                	
                </div>

                <p class="lead">The website introduces the environment, classrooms and playground of the campus.  <br>

                It illustrates the features of the preschool's programs.<br>

                Teachers can upload movie clips and photos of school activities, post the latest news about the school, and update scheduled events of the semester.<br>

                Teachers could update the meal menu in the beginning of month, which shows breakfast, lunch and snack of each day.

                </p>
            	
            	<ul>
                	<li>Javascript</li>
                    <li>AJAX</li>
                	<li>Bootstrap</li>
                	<li>CSS</li>
                	<li>Majoy Ruby Gems:
                		<ul>
                			<li>Ckeditor</li>
                			<li>Fullcalendar</li>
                			<li>Paperclip</li>
                			<li>Devise</li>
                		</ul>

                	</li>
                	<li>PostgreSQL</li>
                </ul>


            </div>
            
        </div>

        <hr>

        <div class="row">
        	
        	<div class="col-lg-4  col-sm-6">
                <a href="https://gentle-forest-1995.herokuapp.com/" target="_blank">
                    <%= image_tag "nicknmaggie_index.png", class: "img-responsive img-thumbnail" %>
                </a>
            </div>

            <div class="col-lg-8 col-sm-6">
                
                <div class="clearfix"></div>
				<div class="row title">
                	<div class="col-xs-6 col-sm-8">
                		<h3 class="text-left"><a href="https://gentle-forest-1995.herokuapp.com/" target="_blank">NicknMaggie</a>&nbsp;&nbsp;&nbsp;<a href="https://github.com/iamcooc/Wedding" target="_blank"><i class="fa fa-github"></i></a> </h3>
                	</div>
                	<div class="col-xs-6 col-sm-4">
                		<%#= image_tag "taiwan-center_logo.jpg" %>
                	</div>
                	
                </div>
                <p class="lead">
                    A website for my wedding ceremony. Showig the information when and where to hold the ceremony. Gusets can RSVP, friends and family can leave their blessing messages for the bride and groom, too. 
                </p>
            
                <ul>
                	<li>Javascript</li>
                    <li>AJAX</li>
                	<li>Bootstrap</li>
                	<li>CSS</li>
                	<li>PostgreSQL</li>
                </ul>


            </div>
            
        </div>



    </div>
    <!-- /.container -->

</div>