<!-- Header -->
<a name="about"></a>
<div class="about-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                

                <div class="about-message text-center">
                    <div class="title-font">
                        <h1>About Yang-Yun Chang</h1>
                        <!--<h4>Something need to be said ...</h4>-->
                    </div>   
                </div>
               
            </div>
        </div>
        <div class="">
            <%= image_tag "yychang.jpg", class: "img-responsive img-circle img-centered portrait" %>
        </div>

    </div>
    <!-- /.container -->
</div>
<!-- /about-header -->

<div class="intro-section">
    <div class="container">
        <div class=" col-md-offset-2">
            <blockquote>
                <span class="lead">
                    - Major in computer science for undergrad and graduated school. <br>
                    - Used to developed in Java projects and created website using JSP and PHP. <br>
                    - Using Ruby on Rails to develop websites for the past one and half years. <br>
                    - Knowing skills both backend and frontend. <br>
                </span>
            </blockquote>
        </div>
    </div>
</div>

<!-- portfolio-section -->
<%= render 'portfolio' %>
<!-- /portfolio-section-->

<!-- exprience-section -->
<%= render 'exprience' %>
<!-- /exprience-section -->

<!-- skills-section -->
<%= render 'skills' %>
<!-- /skills-section -->


<!-- education-section -->
<%= render 'education' %>
<!-- /education-section -->
